openapi: 3.1.0
info:
  title: P402 Router APIs
  version: 1.1.0
  description: Router APIs for x402 payment planning and settlement.
servers:
  - url: https://p402.io
paths:
  /api/v1/router/plan:
    post:
      operationId: planPayment
      summary: Get payment plan and policy decision
      description: |
        Evaluates a payment request against policies and routes it to the best facilitator.
        Returns a decision (allow/deny) and a set of candidate facilitators.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlanRequest'
      responses:
        '200':
          description: Success or denied (check `allow` field)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanResponse'
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /api/v1/facilitator/supported:
    get:
      operationId: getFacilitatorSupported
      summary: Get supported schemes and networks
      description: |
        Returns the payment schemes, signer addresses, and protocol extensions supported
        by this facilitator node. Compliant with the x402 facilitator discovery spec.
      responses:
        '200':
          description: Supported schemes and capabilities
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupportedResponse'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /api/v1/facilitator/verify:
    post:
      operationId: verifyPayment
      summary: Verify an x402 payment authorization
      description: |
        Verifies an EIP-3009 payment authorization without executing it.
        Accepts the x402 wire format (paymentPayload + paymentRequirements).
        Returns { isValid, payer } on success or { isValid: false, invalidReason } on failure.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/X402VerifyRequest'
      responses:
        '200':
          description: Verification result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/X402VerifyResponse'
        '400':
          description: Malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /api/v1/facilitator/settle:
    post:
      operationId: settleViaFacilitator
      summary: Execute a gasless x402 settlement
      description: |
        Executes an on-chain EIP-3009 transferWithAuthorization. The facilitator pays gas fees.
        Accepts the x402 wire format (paymentPayload + paymentRequirements).
        Returns { success, transaction, network, payer } on success.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/X402SettleRequest'
      responses:
        '200':
          description: Settlement result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/X402SettleResponse'
        '400':
          description: Invalid authorization or verification failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '409':
          description: Replay detected (authorization already used)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Internal error or facilitator wallet not configured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /api/v2/chat/completions:
    post:
      operationId: chatCompletions
      summary: OpenAI-compatible chat completions with P402 routing
      description: |
        Drop-in replacement for OpenAI's /v1/chat/completions endpoint.
        Supports multi-provider routing, semantic caching, and autonomous cost optimization.
        Pass a `p402` extension object to control routing behavior.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V2ChatRequest'
      responses:
        '200':
          description: OpenAI-compatible response with p402_metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2ChatResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized (missing or invalid API key)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /api/v2/meter/events:
    get:
      operationId: listMeterEvents
      summary: List AI economic events (canonical ledger)
      description: |
        Tenant-scoped paged list of ai_economic_events. Supports filters for
        privacy_mode, owner ids (department / employee / customer / feature /
        workflow), provider, model, action_type, and evidence_status.
      parameters:
        - { in: query, name: limit, schema: { type: integer, maximum: 200, default: 50 } }
        - { in: query, name: since, schema: { type: string, format: date-time } }
        - { in: query, name: until, schema: { type: string, format: date-time } }
        - { in: query, name: privacy_mode, schema: { $ref: '#/components/schemas/PrivacyMode' } }
        - { in: query, name: department_id,  schema: { type: string } }
        - { in: query, name: employee_id,    schema: { type: string } }
        - { in: query, name: customer_id,    schema: { type: string } }
        - { in: query, name: feature_id,     schema: { type: string } }
        - { in: query, name: workflow_id,    schema: { type: string } }
        - { in: query, name: action_type,    schema: { type: string } }
        - { in: query, name: provider,       schema: { type: string } }
        - { in: query, name: model_used,     schema: { type: string } }
        - { in: query, name: evidence_status, schema: { type: string, enum: [present, missing] } }
      responses:
        '200':
          description: List of economic events
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:    { type: boolean }
                  count: { type: integer }
                  events:
                    type: array
                    items: { $ref: '#/components/schemas/EconomicEvent' }
    post:
      operationId: createMeterEvent
      summary: Meter-only event ingestion (Path B)
      description: |
        Customer apps that call model providers directly post the economic
        event back via this endpoint. The endpoint REJECTS any prompt /
        response / content / file / message field with INVALID_INPUT —
        P402 meters economics, not content. Privacy mode is resolved
        server-side from tenant_privacy_settings + privacy_scope_overrides;
        callers may pass `privacy_mode` to ratchet TIGHTER, never to widen.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeterEventInput'
      responses:
        '200':
          description: Event recorded; response includes resolved privacy posture
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  event_id: { type: string }
                  request_id: { type: string }
                  privacy:
                    type: object
                    properties:
                      mode:                 { $ref: '#/components/schemas/PrivacyMode' }
                      source:                { type: string, enum: [system_default, tenant_default, scope_override] }
                      prompt_stored:        { type: boolean }
                      response_stored:      { type: boolean }
                      redaction_applied:    { type: boolean }
                      retention_expires_at: { type: string, format: date-time }
        '400':
          description: Invalid input (including any forbidden content field)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiError' }

  /api/v2/meter/events/{id}:
    get:
      operationId: getMeterEvent
      summary: Read a single economic event by id
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Event detail with full privacy posture
        '404':
          description: Not found (or wrong tenant)

  /api/v2/outcomes:
    post:
      operationId: recordOutcome
      summary: Record the outcome of a metered AI request
      description: |
        Customers report what happened to a metered request so Optimize can
        compute cost per accepted output, retry waste, and quality-adjusted
        recommendations.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [request_id, status]
              properties:
                request_id:    { type: string }
                status:        { type: string, enum: [accepted, rejected, retried, escalated, human_reviewed, failed] }
                quality_score: { type: number, minimum: 0, maximum: 1 }
                source:        { type: string }
                metadata:      { type: object }
      responses:
        '200':
          description: Outcome recorded (UPSERT on tenant_id + request_id)

  /api/v2/privacy/settings:
    get:
      operationId: getPrivacySettings
      summary: Read tenant default privacy posture
      responses:
        '200':
          description: Current tenant settings (or system_default when no row exists)
    put:
      operationId: putPrivacySettings
      summary: Update tenant default privacy posture (admin only)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                default_privacy_mode:   { $ref: '#/components/schemas/PrivacyMode' }
                store_prompts:          { type: boolean }
                store_responses:        { type: boolean }
                allow_fingerprints:     { type: boolean }
                allow_redacted_traces:  { type: boolean }
                retention_days:         { type: integer, minimum: 1, maximum: 3650 }
                require_redaction:      { type: boolean }
                customer_managed_key:   { type: boolean }
      responses:
        '200': { description: Updated. }
        '401': { description: Unauthenticated. }
        '403': { description: Caller is not tenant admin. }

  /api/v2/privacy/scope-overrides:
    get:
      operationId: listScopeOverrides
      summary: List per-scope privacy overrides
      responses:
        '200': { description: Overrides list. }
    post:
      operationId: createScopeOverride
      summary: Add or update a privacy override (admin only — can widen tenant default)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [scope, scope_id, privacy_mode]
              properties:
                scope:         { type: string, enum: [tenant, department, employee, workflow, project, agent, customer, feature, api_key] }
                scope_id:      { type: string }
                privacy_mode:  { $ref: '#/components/schemas/PrivacyMode' }
                store_prompts:    { type: boolean, nullable: true }
                store_responses:  { type: boolean, nullable: true }
                retention_days:   { type: integer, minimum: 1, maximum: 3650, nullable: true }
      responses:
        '200': { description: Override saved. }

  /api/v2/privacy/scope-overrides/{id}:
    delete:
      operationId: deleteScopeOverride
      summary: Remove a privacy override (admin only)
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        '200': { description: Deleted. }
        '404': { description: Not found. }

  /api/a2a:
    post:
      operationId: a2aJsonRpc
      summary: Agent-to-Agent JSON-RPC 2.0 endpoint
      description: |
        Handles A2A protocol methods over JSON-RPC 2.0. Supported methods:
        - `message/send` — Send a message to an agent and receive a task response.
        - `x402/payment-submitted` — Submit cryptographic proof of x402 payment (exact, onchain, or receipt scheme).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonRpcRequest'
      responses:
        '200':
          description: JSON-RPC 2.0 response (check for `error` field)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonRpcResponse'

  /api/v1/router/settle:
    post:
      operationId: settlePayment
      summary: Verify and settle on-chain payment
      description: |
        Verifies a transaction hash on-chain, checks for replays, and records the settlement.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SettleRequest'
      responses:
        '200':
          description: Settled successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettleResponse'
        '400':
          description: Invalid input, verification failed, or unsupported asset
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ApiError'
                  - $ref: '#/components/schemas/ValidationError'
        '409':
          description: Replay detected (transaction already settled)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

components:
  schemas:
    # ── Privacy + Meter ───────────────────────────────────────────────────────
    PrivacyMode:
      type: string
      description: |
        Privacy posture governing what P402 stores. Default is metadata_only.
        Per-request callers may ratchet TIGHTER. Admin-saved scope overrides
        in privacy_scope_overrides can widen.
      enum:
        - metadata_only
        - fingerprint_only
        - redacted_trace
        - private_gateway
        - full_trace

    MeterEventInput:
      type: object
      required: [request_id]
      description: |
        Meter-only economic event payload. NEVER include prompt, response,
        content, messages, file, document, chat_history, or transcript at
        the top level — the endpoint rejects them with INVALID_INPUT.
      properties:
        request_id:    { type: string }
        source:        { type: string, default: meter_only }
        privacy_mode:  { $ref: '#/components/schemas/PrivacyMode' }
        attribution:
          type: object
          properties:
            owner_type:    { type: string, enum: [tenant, department, employee, workflow, project, agent, customer, feature, api_key] }
            owner_id:      { type: string }
            department_id: { type: string }
            employee_id:   { type: string }
            customer_id:   { type: string }
            project_id:    { type: string }
            feature_id:    { type: string }
            workflow_id:   { type: string }
            api_key_id:    { type: string }
            task_type:     { type: string }
            action_type:   { type: string }
        model:
          type: object
          properties:
            provider:        { type: string }
            model_used:      { type: string }
            model_requested: { type: string }
        usage:
          type: object
          properties:
            input_tokens:      { type: integer }
            output_tokens:     { type: integer }
            total_tokens:      { type: integer }
            cost_usd:          { type: number }
            direct_cost_usd:   { type: number }
            route_savings_usd: { type: number }
            cache_savings_usd: { type: number }
            retry_cost_usd:    { type: number }
            context_waste_usd: { type: number }
            latency_ms:        { type: integer }
            cache_hit:         { type: boolean }
        economics:
          type: object
          properties:
            revenue_usd:      { type: number }
            gross_margin_pct: { type: number }
        governance:
          type: object
          properties:
            budget_id:  { type: string }
            policy_id:  { type: string }
            mandate_id: { type: string }
            decision:   { type: string, enum: [approved, denied, warned, requires_review, settlement_required, settled, receipt_reused, cached, optimized] }
            deny_code:  { type: string }
        evidence:
          type: object
          properties:
            receipt_id:         { type: string }
            evidence_bundle_id: { type: string }
        outcome:
          type: object
          properties:
            status:              { type: string, enum: [accepted, rejected, revised, escalated, failed, pending_review, unknown] }
            quality_score:       { type: number, minimum: 0, maximum: 1 }
            human_review_status: { type: string, enum: [not_required, required, pending, approved, rejected, escalated, expired] }
        metadata: { type: object, description: Open JSONB (metadata-only; do not put content here under metadata_only) }

    EconomicEvent:
      type: object
      description: |
        Row from ai_economic_events. Privacy posture fields show what (if
        anything) P402 stored. See V5 §8.1 + §27.6 for the full schema.
      properties:
        id:              { type: string }
        request_id:      { type: string }
        event_time:      { type: string, format: date-time }
        source:          { type: string }
        provider:        { type: string, nullable: true }
        model_used:      { type: string, nullable: true }
        action_type:     { type: string, nullable: true }
        cost_usd:        { type: string }
        total_tokens:    { type: integer }
        latency_ms:      { type: integer, nullable: true }
        cache_hit:       { type: boolean }
        governance_decision: { type: string, nullable: true }
        output_status:   { type: string, nullable: true }
        privacy_mode:    { $ref: '#/components/schemas/PrivacyMode' }
        prompt_stored:   { type: boolean }
        response_stored: { type: boolean }
        redaction_applied: { type: boolean }
        retention_expires_at: { type: string, format: date-time, nullable: true }
        evidence_bundle_id: { type: string, nullable: true }
        metadata:        { type: object, description: 'May include response_capture_status: captured | not_stored_per_privacy | not_available_streaming | truncated | failed' }

    PlanRequest:
      type: object
      required: [policyId, routeId, payment]
      properties:
        policyId:
          type: string
          description: "ID of the policy to evaluate (or 'default')"
        routeId:
          type: string
          description: "ID of the route being accessed"
        payment:
          type: object
          required: [network, scheme, amount, asset]
          properties:
            network:
              type: string
              description: "CAIP-2 network identifier"
              examples: ["eip155:8453"]
            scheme:
              type: string
              description: "x402 scheme"
              examples: ["exact"]
            amount:
              type: string
              description: "Decimal string amount"
              examples: ["10.00"]
            asset:
              type: string
              description: "Asset symbol or address"
              examples: ["USDC"]
            legacyXPayment:
              type: boolean
              description: "True if request used legacy X-PAYMENT header"
        buyer:
          type: object
          properties:
            buyerId:
              type: string

    PlanResponse:
      type: object
      required: [decisionId, allow, policy, candidates, recommendedAcceptIndex]
      properties:
        decisionId:
          type: string
          format: uuid
        allow:
          type: boolean
        policy:
          allOf:
            - type: object
              required: [policyId, allow, reasons, appliedOverrides]
              properties:
                policyId:
                  type: string
                allow:
                  type: boolean
                reasons:
                  type: array
                  items:
                    type: string
                appliedOverrides:
                  type: array
                  items:
                    type: string
            - $ref: '#/components/schemas/PolicyEvalResultOptional'
        candidates:
          type: array
          items:
            $ref: '#/components/schemas/FacilitatorCandidate'
        recommendedAcceptIndex:
          type: integer
          minimum: 0

    PolicyEvalResultOptional:
      type: object
      properties:
        schemaVersion:
          type: string
          examples: ["1.0.0"]
        deny:
          $ref: '#/components/schemas/PolicyDeny'
        decisionTrace:
          $ref: '#/components/schemas/DecisionTrace'

    PolicyDeny:
      type: object
      required: [code, retryable]
      properties:
        code:
          type: string
          examples: ["X402_LEGACY_HEADER_X_PAYMENT"]
        retryable:
          type: boolean
        detail:
          type: string

    DecisionTrace:
      type: object
      properties:
        schemaVersion:
          type: string
          examples: ["1.0.0"]
        decisionId:
          type: string
          format: uuid
        steps:
          type: array
          items:
            type: object
            properties:
              t:
                type: string
                format: date-time
              kind:
                type: string
              status:
                type: string
              meta:
                type: object
                additionalProperties: true

    FacilitatorCandidate:
      type: object
      required: [facilitatorId, score, supported, health]
      properties:
        facilitatorId:
          type: string
        score:
          type: integer
        supported:
          type: boolean
        health:
          $ref: '#/components/schemas/FacilitatorHealth'

    FacilitatorHealth:
      type: object
      required: [status, p95VerifyMs, p95SettleMs, successRate]
      properties:
        status:
          type: string
          enum: [healthy, degraded, down]
        p95VerifyMs:
          type: integer
        p95SettleMs:
          type: integer
        successRate:
          type: number
          minimum: 0
          maximum: 1

    SettleRequest:
      type: object
      description: |
        V1 router settle request. Either `txHash` (onchain scheme) or `authorization`
        (exact/EIP-3009 scheme) must be provided, but not both.
      required: [amount, asset]
      properties:
        tenantId:
          type: string
          format: uuid
        decisionId:
          type: string
        txHash:
          type: string
          pattern: '^0x[a-fA-F0-9]{64}$'
          description: 'On-chain transaction hash (onchain scheme only)'
        authorization:
          $ref: '#/components/schemas/EIP3009Authorization'
          description: 'EIP-3009 authorization object (exact scheme only)'
        amount:
          type: string
          pattern: '^\\d*\\.?\\d+$'
        asset:
          type: string
          minLength: 2
          maxLength: 10

    SettleResponse:
      type: object
      required: [settled, facilitatorId, receipt]
      properties:
        settled:
          type: boolean
        facilitatorId:
          type: string
        receipt:
          type: object
          required: [txHash, verifiedAmount, asset, timestamp]
          properties:
            txHash:
              type: string
            verifiedAmount:
              type: string
            asset:
              type: string
            timestamp:
              type: string
              format: date-time

    X402SettleResponse:
      description: "x402 spec-compliant settlement response (facilitator endpoints)"
      type: object
      required: [success, transaction, network, payer]
      properties:
        success:
          type: boolean
        transaction:
          type: string
          description: "On-chain transaction hash"
        network:
          type: string
          description: "CAIP-2 network identifier"
          examples: ["eip155:8453"]
        payer:
          type: string
          nullable: true
          description: "Address of the payer"
        errorReason:
          type: string
          description: "Human-readable error (only on failure)"

    X402VerifyResponse:
      description: "x402 spec-compliant verify response"
      type: object
      required: [isValid]
      properties:
        isValid:
          type: boolean
        payer:
          type: string
          description: "Payer address (only on success)"
        invalidReason:
          type: string
          description: "Reason for failure (only on failure)"

    ApiError:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
          examples: ["INTERNAL_ERROR"]
        message:
          type: string
        requestId:
          type: string
          format: uuid

    ValidationError:
      type: object
      required: [code, message, errors]
      properties:
        code:
          type: string
          examples: ["INVALID_INPUT"]
        message:
          type: string
        errors:
          type: object
          additionalProperties: true

    EIP3009Authorization:
      type: object
      required: [from, to, value, validAfter, validBefore, nonce, v, r, s]
      description: EIP-3009 transferWithAuthorization parameters including signature components
      properties:
        from:
          type: string
          description: Payer address (checksummed hex)
          examples: ["0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"]
        to:
          type: string
          description: Recipient address (treasury)
          examples: ["0xb23f146251e3816a011e800bcbae704baa5619ec"]
        value:
          type: string
          description: Amount in token base units (e.g. 6 decimals for USDC)
          examples: ["1000000"]
        validAfter:
          type: string
          description: Unix timestamp before which the authorization is invalid
          examples: ["0"]
        validBefore:
          type: string
          description: Unix timestamp after which the authorization expires
          examples: ["1735689600"]
        nonce:
          type: string
          description: 32-byte random nonce (bytes32 hex)
          examples: ["0x0000000000000000000000000000000000000000000000000000000000000001"]
        v:
          type: integer
          description: Signature recovery parameter (27 or 28)
          examples: [27]
        r:
          type: string
          description: Signature r component (32-byte hex)
          examples: ["0xabcd..."]
        s:
          type: string
          description: Signature s component (32-byte hex)
          examples: ["0xef01..."]

    X402PaymentPayload:
      type: object
      required: [x402Version, scheme, network, payload]
      properties:
        x402Version:
          type: integer
          examples: [2]
        scheme:
          type: string
          enum: [exact, onchain, receipt]
        network:
          type: string
          description: CAIP-2 network identifier
          examples: ["eip155:8453"]
        payload:
          type: object
          required: [signature, authorization]
          properties:
            signature:
              type: string
              description: 65-byte EIP-3009 permit signature (hex)
              examples: ["0x..."]
            authorization:
              type: object
              required: [from, to, value, validAfter, validBefore, nonce]
              properties:
                from:
                  type: string
                to:
                  type: string
                value:
                  type: string
                validAfter:
                  type: string
                validBefore:
                  type: string
                nonce:
                  type: string

    X402PaymentRequirements:
      type: object
      required: [scheme, network, maxAmountRequired, payTo, asset]
      properties:
        scheme:
          type: string
          enum: [exact, onchain, receipt]
        network:
          type: string
          examples: ["eip155:8453"]
        maxAmountRequired:
          type: string
          examples: ["1000000"]
        resource:
          type: string
          format: uri
        description:
          type: string
        payTo:
          type: string
          description: Treasury address
          examples: ["0xb23f146251e3816a011e800bcbae704baa5619ec"]
        asset:
          type: string
          description: ERC-20 contract address
          examples: ["0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913"]

    X402VerifyRequest:
      type: object
      required: [paymentPayload, paymentRequirements]
      properties:
        paymentPayload:
          $ref: '#/components/schemas/X402PaymentPayload'
        paymentRequirements:
          $ref: '#/components/schemas/X402PaymentRequirements'

    X402SettleRequest:
      type: object
      required: [paymentPayload, paymentRequirements]
      properties:
        paymentPayload:
          $ref: '#/components/schemas/X402PaymentPayload'
        paymentRequirements:
          $ref: '#/components/schemas/X402PaymentRequirements'

    SupportedResponse:
      type: object
      required: [kinds, signers]
      properties:
        kinds:
          type: array
          description: Supported payment scheme/network combinations
          items:
            type: object
            required: [x402Version, scheme, network, payTo]
            properties:
              x402Version:
                type: integer
              scheme:
                type: string
              network:
                type: string
              payTo:
                type: string
              asset:
                type: string
              maxAmountRequired:
                type: string
        signers:
          type: array
          description: Facilitator signer addresses
          items:
            type: string
        extensions:
          type: array
          description: Optional protocol extensions supported
          items:
            type: string

    V2ChatRequest:
      type: object
      required: [messages]
      properties:
        model:
          type: string
          description: Model ID. If omitted, P402 selects the optimal model.
          examples: ["anthropic/claude-3-5-sonnet"]
        messages:
          type: array
          items:
            type: object
            required: [role, content]
            properties:
              role:
                type: string
                enum: [system, user, assistant]
              content:
                type: string
        stream:
          type: boolean
          default: false
        p402:
          type: object
          description: P402-specific routing extensions
          properties:
            mode:
              type: string
              enum: [cost, quality, speed, balanced]
              default: balanced
              description: Routing optimization mode
            cache:
              type: boolean
              default: false
              description: Enable semantic similarity caching

    V2ChatResponse:
      type: object
      required: [id, choices]
      properties:
        id:
          type: string
          examples: ["chatcmpl-123"]
        object:
          type: string
          examples: ["chat.completion"]
        created:
          type: integer
        model:
          type: string
        choices:
          type: array
          items:
            type: object
            properties:
              index:
                type: integer
              message:
                type: object
                properties:
                  role:
                    type: string
                  content:
                    type: string
              finish_reason:
                type: string
        usage:
          type: object
          properties:
            prompt_tokens:
              type: integer
            completion_tokens:
              type: integer
            total_tokens:
              type: integer
        p402_metadata:
          type: object
          description: P402 routing metadata appended to every response
          properties:
            provider:
              type: string
              examples: ["anthropic"]
            cost_usd:
              type: number
              examples: [0.00045]
            cached:
              type: boolean
            latency_ms:
              type: integer

    JsonRpcRequest:
      type: object
      required: [jsonrpc, method]
      properties:
        jsonrpc:
          type: string
          enum: ["2.0"]
        method:
          type: string
          description: A2A method name
          enum: ["message/send", "x402/payment-submitted"]
        params:
          type: object
          description: Method-specific parameters
        id:
          oneOf:
            - type: string
            - type: integer

    JsonRpcResponse:
      type: object
      required: [jsonrpc, id]
      properties:
        jsonrpc:
          type: string
          enum: ["2.0"]
        result:
          type: object
          description: Present on success
        error:
          type: object
          description: Present on failure
          properties:
            code:
              type: integer
            message:
              type: string
            data:
              type: object
        id:
          oneOf:
            - type: string
            - type: integer
            - type: 'null'
